body {
	background: #f2f2f2;
	font-family: Helvetica, Verdana, san-serif;
	width: 100%;
	height: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
}

.head {
	margin: 0 auto;
	background: #163C56;
	color: #f2f2f2;
	max-width: 768px;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 1px #0e2d42 solid;
	border-right: 1px #0e2d42 solid;
	border-top: 1px #0e2d42 solid;
}

.head h4 {
	font-family: Georgia, Times New Roman, Serif;
	font-style: italic;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: .25px;
	font-weight: 300;
	padding: 20px 60px;
	margin: 0;
	text-align: center;
}

.content {
	margin: 0 auto;
	background: #ffffff;
	max-width: 768px;
	height: auto;
	border-left: 1px #DDDDDD solid;
	border-right: 1px #DDDDDD solid;
}

h2 {
	color: #EF4633;
	font-family: Georgia, Times New Roman, Serif;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: .25px;
	font-weight: 400;
	padding: 20px 60px 10px 60px;
	margin: 0;
}

h3 {
	font-family: Georgia, Times New Roman, Serif;
	color: #F89F39;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: .25px;
	font-weight: 400;
	padding: 0 60px 10px 60px;
	margin: 0;
}

.content p {
	color: #303030;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 60px 20px 60px;
	margin: 0;
}

.content ul {
	color: #303030;
	font-size: 14px;
	line-height: 18px;
	list-style: circle inside;
	padding: 10px 60px 20px 60px;
	margin: 0;
}

.content li {
	margin: 0 0 10px 0;
}

.content img {
	width: 100%;
	max-width: 648px;
	height: auto;
	margin: 10px 60px;
}

.top-pad {
	padding: 20px 60px;
}

.foot {
	margin: 0 auto;
	background: #f6f6f6;
	max-width: 768px;
	height: auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:5px;
	border: 1px #DDDDDD solid;
}

.foot h4 {
	font-family: Georgia, Times New Roman, Serif;
	color: #948181;
	font-size: 16px;
	line-height:20px;
	letter-spacing: .25px;
	font-weight: 400;
	padding: 20px 60px 10px 60px;
	margin: 0;
}

.foot p {
	color: #666666;
	font-size: 11px;
	line-height: 15px;
	padding: 10px 60px 10px 60px;
	margin: 0;
}

.foot img {
	padding: 10px 0 20px 0;
	margin: 0 auto;
	display: block;
}

.foot .warning {
	color: #EF4633;
}
